.box {
    height: 180px;
    width: 100px;
    background-image: url(/img/pic_bulboff.gif);
    background-repeat: no-repeat;
    margin-bottom: 18px;
    position: relative;
}


.box1 {
    height: 180px;
    width: 100px;
    background-image: url(/img/pic_bulbon.gif);
    background-repeat: no-repeat;
    margin-bottom: 18px;
    z-index: 1;
    position: absolute;
}

button {
    margin-left: 20px;
}